@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color: #fff;
    --main-color:#0ef;
    }
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }
    body{
        background: var(--bg-color);
        color: var(--text-color);
    }
    section{
        min-height: 100vh;
        padding: 10rem 9% 2rem;
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 9%;
        background: var(--bg-color);
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 100;
    }
    .header.sticky{
        border-bottom: .1rem solid rgba(0,0,0,.2);
    }
    .logo{
        font-size: 2.5rem;
        color: var(--text-color);
        font-weight: 600;
        cursor: default;
    }
    .navbar a{
        font-size: 1.7rem;
        color: var(--text-color);
        margin-left: 4rem;
        transition: .3s;
    }
    .navbar a:hover,
    .navbar a.active {
        color: var(--main-color);
    }
    #menu-icon{
        font-size: 3.6rem;
        color: var(--text-color);
        display: none;
    }
    
   .toggleBtn{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f5f1f1;
    cursor: pointer;
   
}
.dark .toggleBtn{
    background:black;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 10px rgba(0,0 , 0,0.1), 
    -5px -5px 10px rgba(255,255,255,0.2) ;
}
   @media(max-width:1200px){
    html{
        font-size: 55%;
    }
   }
   @media(max-width:991px){
    .header{
        padding: 10rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }

    
   }
   @media(max-width:768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    
   }
   @media(max-width:617px){
    
   }
   @media(max-width:450px){
    html{
        font-size: 50%;
    }
    
   }
   
   